<a href="#" class="list-group-item list-group-item-action mb-2" >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-muted"><%= game.player %>, <%= game.created_at %></h5>
      <h4><%= game.points %></h4>
    </div>
  </a>
